<h1>Hello <span id="name-message"></span>!</h1>
<table>
    <thead>
    <tr>
        <th>Chat Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>chat1</td>
        <td class="actions">
            <div class="actions-wrapper">
                <button class="enter" onclick="enterChat('1')">Enter</button>
                <button class="delete" onclick="deleteChat('1')">Delete</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="add-chat">
    <button onclick="openPopup()">Add New Chat</button>
</div>

<div class="popup-overlay" id="popup">
    <div class="popup">
        <h3>Add New Chat</h3>
        <input type="text" id="room-name" placeholder="Room Name">
        <div>
            <button class="cancel" onclick="closePopup()">Cancel</button>
            <button class="submit" onclick="submitChat()">Submit</button>
        </div>
    </div>
</div>
