<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chat{{ subtitle }}</title>
        <link rel="stylesheet" href="/static/{{ css }}">
        <link rel="stylesheet" href="/static/layout.css">
        <script src="/static/helper.js"></script>
        <script src="/static/layout.js"></script>
    </head>
    <body>
        <header>
            <div class="header-wrapper">
                <a href="/" class="logo">Chat</a>
                <div class="nav">
                    <button onclick="logout()">Logout</button>
                </div>
            </div>
        </header>
        <main>
            {{ child|safe }}
        </main>
        <script src="/static/{{ js }}" defer></script>
    </body>
</html>